body {
    max-width:40em;
    margin: auto;
    text-align:justify;
    line-height:1.4;
    padding: 0 0.2em;
}

h1 {
    text-align: center;
    padding-top: 2em;
}

div.contents ul {
    list-style-type: upper-roman;
    margin-left:3em;

}
.volume, .contents, .chapter {
    page-break-before: always;
}

p {
    text-indent:1em;
    margin: 0;
    padding: 0;
}

h1 + p {text-indent:0;}

.centered {text-align:center;}
.right {text-align:right;}
.sc {font-variant: small-caps;}
.subhdg {font-size: smaller;}

.letter {
    margin: 1em;
}