body {
    color: black;
    background: white;
}

h1, h2 {
    font-size: x-large;
    text-align: center;
    padding: 2em 0 1em;
}

h1 .sub, h2 .sub {
    font-size: large;
}

.contents p{
    padding: 0.15em 0 0.15em 1em;
    text-indent: -1em;
    page-break-inside: avoid;
    text-align: left;
}

.contents, .chapter
{
    margin: auto;
    page-break-before: always;
    line-height: 1.4;
}

.contents
{
    max-width: 25em;
}


.chapter {
    text-align: justify;
    max-width: 40em;
}

p {
    text-indent:1em;
    margin: 0;
    padding: 0;
}

h2+p, p.caption {text-indent:0;}

.centered {text-align:center;}
.right {text-align:right;}
.sc {font-variant: small-caps;}
.tb {padding-top: 1em;}

.poem {
    padding: 1em 0;
    margin:auto;
    text-indent:2em;
}

.letter {
    padding: 1em 0.5em;
}


.image {
    text-align: center;
    margin: 2em 0;
    page-break-inside:avoid;
}

.title {
    page-break-before: always;
    page-break-after: always;
}

.keepwithprev {
    page-break-before: avoid;
}

@media handheld {
    #i011 {margin-top:0; padding-top:0;}
    #i010 img {width: 92%;}
    #i011 img {width: 71%;}
    #i028 img {width: 90%;}
    #i100 img {width: 83%;}
    #i137 img {width: 93%;}
    #i172 img {width: 94%;}
    #i173 img {width: 98%;}
    #i208 img {width: 94%;}
    #i244 img {width: 90%;}
    #i280 img {width: 99%;}
    #i496 img {width: 84%;}
    #i604 img {width: 98%;}
}