h1 {
    font-size: x-large;
    text-align: center;
    padding: 2em 0 1em;
}

h1 .sub {
    font-size: large;
}

.contents p{
    margin-left: 4em;
    text-indent:0;
}

.contents p a{
    margin-left: -2em;
    display:block;
}

.contents, .chapter
{
    margin: auto;
    page-break-before: always;
    max-width: 40em;
    line-height: 1.4;
}

.chapter {
    text-align: justify;
}

p {
    text-indent:1em;
    margin: 0;
    padding: 0;
}

h1+p {text-indent:0;}

.centered {text-align:center;}
.right {text-align:right;}
.sc {font-variant: small-caps;}
.tb {padding-top: 1em;}

.poem {
    padding: 1em 0;
    margin:auto;
    text-indent:2em;
}

.letter {
    padding: 1em 0.5em;
}


.image {
    text-align: center;
    margin: 2em 0;
}

li {
    margin-left: 1.5em;
    text-align: left;
}